<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Appium Cucumber Suit" parallel="tests" data-provider-thread-count="1">
    <test name="SmokeTest" annotations="@Demo" preserve-order="true">
        <classes>
            <class name="testRunners.TestRunner"/>
        </classes>
    </test>
</suite>